/* Write your CSS code here */
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-nav {
  display: flex;
  align-items: center;
}

.logo {
  width: 30px;
  margin-right: 5px;
}

.list-name {
  color: #12022f;
  font-weight: bold;
  font-size: 20px;
}

.nav-menu {
  list-style-type: none;
  display: flex;
}

.nav-link {
  text-decoration: none;
  margin-right: 20px;
}
